
.kassa-row{

    padding: 10px;

}

.kassa-section-row{

    margin-top: 50px;
    margin-bottom: 624px;

}

.col-lg-4.kassa-rutor{

    min-height: 1px;
    position: relative;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    background-color: whitesmoke;

}

.rutairuta{

    outline: solid thin lightgray;
    padding: 30px;
    height: 500px;

}

.kortinfo-ruta{
    
    float: left;
}

.kortinfo-ruta ul li{
    
    list-style-type: none;
    float: left;
    margin-top: 20px;
    
}

.kortinfo-ruta ul li img{
    
    float: right;
    margin-left: 10px;
    margin-right: 10px;
    
}