
.kassa-row{

    padding: 10px;

}

.col-lg-4.kassa-rutor{

    min-height: 1px;
    position: relative;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    background-color: whitesmoke;

}

.adressupp{

    outline: solid thin lightgray;
    height: 600px;

}

/*test*/

.headline-kassa {

    text-align: center;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 50px;
    color: #BD0000;

}

.headline-kassa span {

    font-size: 20px;
    line-height: 20px;
    padding: 10px;
    background: whitesmoke;
    margin: 0 auto;

}

.headline-kassa h3{

    margin: 0px;
    font-size: 20px;

}