
.mittkonto-row{

    padding: 10px;

}

.mittkonto-section-row{
    
    margin-top: 50px;
    margin-bottom: 624px;
    
}

.col-lg-4.mittkonto-rutor{

    min-height: 1px;
    position: relative;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    background-color: whitesmoke;

}

.rutairuta{
    
        outline: solid thin lightgray;
        padding: 30px;
        height: 500px;
    
}

/*konto info lista*/

.col-lg-12.RN-mittkonto{

    position: relative;

}

.table-info a{

    color: #BD0000;
    text-decoration: none;
}

.table-info > tbody > tr > td{

    padding: 0px;

}

/*popup fönster*/

.popup-ruta{

    padding: 10px;

}

.popup-ruta h3{

    text-align: center;
    padding: 0px;
    margin: 10px;
    color: #BD0000;

}

.popup-ruta p{

    color: #777;

}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {

    border-top: 0px solid pink;

}

/*popup fönster kontaktinfo*/

.popup-mittkonto-kontinfo{

    background-color: whitesmoke;
    outline: solid thin lightgray;
    display:  none;
    z-index: 10;
    position: absolute;
    margin: 0 auto;

}

.andra-button-kontinfo{

    float: right;

}

/*popup fönster adressbok*/

.popup-mittkonto-adressbok{

    background-color: whitesmoke;
    outline: solid thin lightgray;
    display:  none;
    margin: 0 auto;
    z-index: 10;
    position: absolute;

}

.andra-button-adressbok{

    float: right;

}