
.mittkonto-row{

    padding: 10px;

}

.mittkonto-section-row{

    margin-top: 50px;
    margin-bottom: 624px;

}

.col-lg-4.mittkonto-rutor{

    min-height: 1px;
    position: relative;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    background-color: whitesmoke;

}

.rutairuta{

    outline: solid thin lightgray;
    padding: 30px;
    height: 500px;

}

/*konto info lista*/

.col-lg-12.RN-mittkonto{

    position: relative;

}

.table-info a{

    color: #BD0000;
    text-decoration: none;
}

.table-info > tbody > tr > td{

    padding: 0px;

}

.loggaut-button{
    
    float: right;
    
}

/*popup fönster*/

.popup-ruta{

    padding: 10px;

}

.popup-ruta h3{

    text-align: center;
    padding: 0px;
    margin: 10px;
    color: #BD0000;

}

.popup-ruta p{

    color: #777;

}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {

    border-top: 0px solid pink;

}

/*popup fönster kontaktinfo*/

.blur-popup-mittkonto-kontinfo{

    height: 100%;
    width: 100%;
    padding: 100px;
    background: rgb(211,211,211);
    background: rgba(211,211,211,0.50);
    display:  none;
    z-index: 100;
    position: absolute;
    margin: 0 auto;

}

.popup-mittkonto-kontinfo{

    min-height: 1px;
    position: relative;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    background-color: whitesmoke;
    outline: solid thin #222;

}

.andra-button-kontinfo{

    float: right;

}

/*popup fönster adressbok*/

.blur-popup-mittkonto-adressbok{

    height: 100%;
    width: 100%;
    padding: 100px;
    background: rgb(211,211,211);
    background: rgba(211,211,211,0.50);
    display:  none;
    z-index: 100;
    position: absolute;
    margin: 0 auto;

}

.popup-mittkonto-adressbok{

    min-height: 1px;
    position: relative;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    background-color: whitesmoke;
    outline: solid thin #222;

}

.andra-button-adressbok{

    float: right;

}

/*popup fönster adressbok*/

.blur-popup-mittkonto-loggaut{

    height: 100%;
    width: 100%;
    padding: 100px;
    background: rgb(211,211,211);
    background: rgba(211,211,211,0.50);
    display:  none;
    z-index: 100;
    position: absolute;
    margin: 0 auto;

}

.popup-mittkonto-loggaut{

    min-height: 1px;
    position: relative;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    background-color: whitesmoke;
    outline: solid thin #222;

}

.andra-button-loggaut{

    float: right;

}