
/*header*/

.header{

    background-color: #222;
    height: 75px;

}

.header-container{

    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;

}

/*nav*/

.navbar-default {

    background-color: #222;
    border: none ;
    max-height: 75px;
    min-height: 75px;

}

.navbar {

    border-radius: 0px;

}


.navbar-brand {

    float: left;
    height: 50px;
    padding: 0px;
    font-size: 18px;
    line-height: 20px;

}

.navbar-nav {
    float: left;
    margin: 0;
    margin-top: 15px;
}

.navbar-default .navbar-form {

    margin-top: 20px;

}

.navbar-default .navbar-nav>li>a {

    color: white;
    font-size: 15px;
    padding-bottom: 24px;

}

.navbar-default .navbar-nav>li>a:hover {

    color: #BD0000;

}

/*sökruta*/

.btn-default{

    color: white;
    background-color: #222;
    border: none;
    font-size: 20px;
    border-radius: 0px;

}

.btn-default:hover{

    background-color: #222;
    color: white;

}

.form-control {

    width: 100%;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px;
}

/*nav undermeny*/

li.dropdown.KT:hover .dropdown-menu {
    
    display: block;
    
}

.dropdown-menu {

    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    float: left;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: whitesmoke;
    min-width: 0px;
    max-width: 700px;

}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {

    color: #BD0000;
    background-color: #222;

}

.navbar-right .dropdown-menu {

    right: auto;
    left: 0;

}

.dropdown-menu a {

    color: #222;
    text-decoration: none;

}

.dropdown-menu a:hover{

    color: #BD0000;
    text-decoration: none;

}

.dropdown-menu h3{

    color: #222;
    margin-top: 15px;
    margin-bottom: 15px;

}

/*undermeny kille/tjej*/

.row.kt{

    float: left;
    margin: 15px;
    width: auto;
    min-width: 475px;

}

.col-xs-4.kt{

    border-right: solid thin lightgray;
    min-height: 150px;

}

.col-xs-4.kt:last-of-type{

    border-right: none; 

}

/*undermeny loggin/regestrera*/

.row.LR{

    width: auto; 
    min-width: 500px;
    margin: 15px;
    float: left;

}

.col-xs-6.LR{

    min-height: 300px;
    border-right: solid thin lightgray;


}

.col-xs-6.LR:last-of-type{

    border-right: none;


}

.checkbox label {

    padding-left: 25px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;

}

.checkbox{

    color: #777;

}

.form-group.glomtlosen{

    margin-bottom: 44px;

}

a.glomtlos{

    font-size: 10px;
    color: #BD0000;


}

.btn-primary.button-loggareg {

    width: auto;
    margin-top: 0px;
    color: #BD0000;
    background-color: whitesmoke;
    border-color: #BD0000;
    border-radius: 0px;
    text-align: center;

}

.btn-primary.button-loggareg:hover {

    background-color: #F0F0F0;  

}

/*undermeny kundvagn*/

.tomkundvagn{

    outline: dotted thin lightgray;
    margin: 15px;
    padding: 15px;
    width: auto;
}
