

body{

    background-color: whitesmoke;

}

.container {
    
    width: 90%;
    
}
@media (min-width: 768px) {
    .container {
        width: 90%;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}


/*header*/

.header-row{

    background-color: #222;

}

.col-lg-2.logo{

    color: white;
    outline: solid thin orange;

}

/*section */

.col-lg-6.section{
    
    margin-top:20px;
    margin-bottom:40px;
    padding-left:0px;
    
}
.col-lg-6.section img{
    
    margin-bottom:40px;
    
}


h4,h5{
    
    font-size:40px;
    
}

.col-lg-6.sectiontwo{
    
    padding-left: 40px;
    
}
h5{
    
    color:#BD0000;
    
}

.btn-primary.huvud-button.button-köp{
    
    margin-top:10px;
    
}
       

/*REA/Nyheter*/
    
.col-lg-12.RN.line-margin{
    
    margin: 10px 0 0;
    margin-left:-25px;
    border-top: 1px solid lightgray;
    padding-top: 30px;
    position: relative;

}