
.container {

    width: 90%;

}
@media (min-width: 768px) {
    .container {
        width: 90%;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/*section */

.col-lg-6.section{

    margin-top:20px;
    margin-bottom:40px;
    padding-left:0px;
    background-color: greenyellow;

}
.col-lg-6.section img{

    margin-bottom:40px;

}


h4,h5{

    font-size:40px;

}

.col-lg-6.sectiontwo{

    padding-left: 40px;
    background-color: rosybrown;

}

h5{

    color:#BD0000;

}

.btn-primary.huvud-button.button-köp{

    margin-top:10px;

}

.btn-default.size {
    color: black;
    background-color: white;
    border:1px solid lightgray;
    width:50px;
    border-radius: 4px;
    
}

.btn-default.size:focus, .btn-default.size:target{
    background-color:lightgray;
}

/*.btn-default.size:focus{
    background-color: lightgray;
}*/

/*REA/Nyheter*/

.col-lg-12.RN.line-margin{

    margin: 10px 0 0;
    margin-left:-25px;
    border-top: 1px solid lightgray;
    padding-top: 30px;
    position: relative;

}

/*test*/

.btn-primary.huvud-button-size {

    width: auto;
    margin-top: 0px;
    color: #222;
    background-color: whitesmoke;
    border-color: #222;
    border-radius: 0px;
    text-align: center;

}

keygen, select, select[size="0"], select[size="1"] {
border-radius: 0px;
border-color: #222;
}


.test{
    
/*    width: 1170px;
    height: 400px;*/
    background-color: pink;
    margin-top: 50px;
    padding-left: 0px;
}