
/*filter del*/

.col-lg-2{
    
/*    background-color: pink;
    height: 20px;*/
    
}

.col-lg-2.filterdel{

    padding: 0;
    margin: 0;
    margin-top: 20px;
    /*border-right: solid thin lightgray;*/
    /*border-left: solid thin lightgray;*/
    border-bottom: solid thin lightgrey;

}

ul.filter-lista{

    list-style: none;
    margin: 0;
    padding: 0;

}

ul.filter-lista li{

    border-top: solid thin lightgray;

}

ul.filter-lista li h3{

    color: #BD0000;
    padding: 0px;
    margin: 24px 0px 24px 12px;

}

.btn-primary {

    color: #222;
    background-color: whitesmoke;
    border-color: whitesmoke;

}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {

    color: #BD0000;
    background-color: whitesmoke; 
    border-color: whitesmoke; 

}

/*filter del dropdown*/ 

.well {

    min-height: 20px;
    padding: 0px;
    margin-bottom: 0px;
    background-color: whitesmoke;
    border: none;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;

}

.well ul{

    padding: 0px;

}

.well ul li{

    list-style: none;
    border-top: solid thin lightgray  

}

.well ul li a{
    
    text-decoration: none;
    color: #777;
    
}

.well ul li a p{
    
    margin: 0;
    padding: 12px;
    
}

/*produkter del*/

.beskrivnig{

    background-color: whitesmoke;
    padding: 10px;
    text-align: center;
    outline: solid thin lightgray;

}

.beskrivnig h3{

    padding: 0px;
    margin-top: 5px;
    margin-bottom: 0px;
    color: #777;
    font-size: 15px;

}

.price {

    color: #BD0000;
    font-size: 20px;

}

.beskrivnig img{

    margin-bottom: 10px;

}

/*test*/

.containertest{

    width: available;
    float:left;

}

.headertest{

    border-bottom: solid thin lightgray;
    background: no-repeat;
    background-position:right 0px;
    cursor:pointer;
}

.headertest h2{

    color: #777;
    padding: 0;
    margin: 5px 5px 10px 5px;

}

.collapsed .headertest{

}

.contenttest{
    /*background-color: greenyellow;*/
    height:auto;
    min-height:100px;
    overflow:hidden;
    transition:all 0.3s linear;
    -webkit-transition:all 0.3s linear;
    -moz-transition:all 0.3s linear;
    -ms-transition:all 0.3s linear;
    -o-transition:all 0.3s linear;
}

.contenttest ul li{

    list-style: none;

}

.contenttest ul li a{

    color: #222;
    font-size: 15px;
    text-decoration: none;
    float: left;
    padding: 10px;
    border-bottom: solid thin lightgray;

}

.collapsed .contenttest{
    min-height:0px;
    height:0px;
}

/*byttsidasak*/

.col-lg-12.byttsida ul{
    
    float: right;
    
}

.col-lg-12.byttsida ul li{
    
    display: inline;
    padding: 5px;
    
}

.col-lg-12.byttsida ul li:active{
    
    display: inline;
    color: #BD0000;
    padding: 5px;
    
}

.col-lg-12.byttsida ul li a{
    
    color: #777;
    text-decoration: none;
    
}