
/*filter del*/

.col-lg-2.filterdel{

    padding: 0;
    margin: 0;
    margin-top: 60px;
    /*border-bottom: solid thin lightgrey;*/

}

ul.filter-lista{

    list-style: none;
    margin: 0;
    padding: 0;

}

ul.filter-lista li{

    border-top: solid thin lightgray;

}

ul.filter-lista li h3{

    padding: 0px;
    margin: 24px 0px 24px 12px;
    color: #BD0000;

}

.btn-primary {

    width: 100%;
    color: #222;
    background-color: whitesmoke;
    border-color: whitesmoke;
    text-align: left;

}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {

    color: #BD0000;
    background-color: whitesmoke; 
    border-color: whitesmoke; 

}

.btn-primary.huvud-button.button-filter {

    width: 100%;
    margin-top: 35px;

}

/*filter del dropdown*/ 

.well {

    min-height: 20px;
    padding: 0px;
    margin-bottom: 0px;
    background-color: whitesmoke;
    border: none;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;

}

.well ul{

    padding: 0px;

}

.well ul li{

    list-style: none;
    border-top: solid thin lightgray;

}

.well ul li:hover{

    background-color: #F0F0F0;

}


.well ul li {

    text-decoration: none;
    color: #777;

}

/*i kryss ruta*/

.well ul li  span p{

    margin: 0px;
    margin-left: 30px;
    padding: 0px;

}

.well ul li  span.farg-typ{

    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 10px;
    border: 1px solid lightgray;

}

.well ul li  span.marke-typ{

    display: inline-block;
    width: 18px;
    height: 18px;
    margin: 10px;
    border: 1px solid lightgray;

}

/*i kryss ruta crossed*/

.ruta{
    
    width: 10px;
    height: 10px;
    background-color: whitesmoke;
    margin-left: 14px;
    margin-top: 14px;
    position: absolute;
    
      
}

.ruta-crossed{
    
    width: 10px;
    height: 10px;
    background-color: #BD0000;
    margin-left: 14px;
    margin-top: 14px;
    position: absolute;
    
      
}

.well ul li  span.marke-typ-crossed{

    display: inline-block;
    width: 18px;
    height: 18px;
    margin: 10px;
    border: 1px solid #BD0000;
    color: #BD0000;

}

.well ul li  span.farg-typ-crossed{

    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 10px;
    border: 1px solid lightgray;
    color: #BD0000;

}

/*produkter del*/

.beskrivnig{

    background-color: whitesmoke;
    padding: 10px;
    text-align: center;
    outline: solid thin lightgray;

}

.beskrivnig h3{

    padding: 0px;
    margin-top: 5px;
    margin-bottom: 0px;
    color: #777;
    font-size: 15px;

}

.price {

    color: #BD0000;
    font-size: 20px;

}

.beskrivnig img{

    margin-bottom: 10px;

}

/*byttsidasak*/

.col-lg-12.byttasida ul{

    float: right;

}

.col-lg-12.byttasida ul li{

    display: inline;
    padding: 5px;

}

.col-lg-12.byttasida ul li a{

    color: #777;
    text-decoration: none;

}

/*test*/

.col-lg-12.byttasida ul li.ruta2{

    outline: solid thin whitesmoke;

}

.col-lg-12.byttasida a.nummer{

    color: #777;
    text-decoration: none;

}

.col-lg-12.byttasida ul li.ruta2-crossed{

    outline: solid thin #BD0000;

}

.col-lg-12.byttasida a.nummer-crossed{

    color: #BD0000;
    text-decoration: none;

}